$amarillo: #fed136;
$blanco: #ffffff;
$amarillo-oscuro: #fec503;
$amarillo-darken: #f6bf01;
$negro: #222;
$gris-oscuro: #777;
$fuente-montserrat: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
$fuente-droit: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;